@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: #f9f9f9;
}


/* -------------------- Header section starts -----------------------  */

.header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: #fff;
    border-bottom: 1px solid #eeeeee;
}

.header-box {
    display: flex;
    align-items: center;
}

/* For Logo */

.logo {
    display: flex;
    align-items: center;
    padding-right: 50px;
    border-right: 2px solid #ccc;
}

.logo .logo-icon {
    font-size: 1.8rem;
    color: rgba(0, 0, 255,.8);
    margin-right: 10px;
}

.logo .logo-name {
    font-size: 1.2rem;
    color: #000;
    font-weight: bold;
}

/* For Nav-link */

.nav-links {
    margin-left: 40px;
}

.nav-links .link {
    text-decoration: none;
    color: #000;
    font-size: .9rem;
    padding: 5px;
    font-weight: 600;
    margin: 0 5px;
}

/* nav-profile */

.nav-profile {
    display: flex;
    align-items: center;
}

.nav-profile .icons {
    padding-right: 30px;
    border-right: 2px solid #ccc;
}

.nav-profile .icons .icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 10px;
}

.bell {
    position: relative;
}

.bell::after {
    content: "";
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    position: absolute;
    right: 3px;
    top: 2px;

}

.nav-profile .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
    overflow: hidden;
    border: 1px solid #ccc;
    cursor: pointer;
}

.nav-profile .profile img {
    width: 100%;
    object-fit: cover;
}

/* ------------------------------------- Header-2 Section Starts --------------------------------- */

.header-1:nth-child(2) {
    border: 0;
    margin-bottom: 20px;
}

/* For search box  */

.header-2 .search-box {
    width: 380px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.header-2 .search-box .search-icon {
    font-size: 1.5rem;
}

.header-2 .search-box .search-input {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    padding-left: 10px;
}

.header-2 .search-box .search-input::placeholder {
    color: #ccc;
}

/* For navbar Links */

.navbar-icons .text {
    font-size: .9rem;
    font-weight: 600;
    margin-right: 20px;
}

.navbar-icons .navbar-link {
    text-decoration: none;
    background: #f7f7f7;
    color: #000;
    font-size: .9rem;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 20px;
    margin-right: 5px;
    transition: .2s linear;
}

.navbar-icons .navbar-link:hover,
.navbar-icons .last-link:hover{
    background: rgba(0, 0, 255,.6);
    color: #fff;
    border: none;
}

.navbar-icons .last-link {
    margin-right: 0 !important;
    background: none;
    border: 1px solid #f7f7f7;
}

.navbar-icons .last-link .transfer-icon {
    font-size: 1.4rem;
    color: rgba(0, 0, 255,.4);
}

.navbar-icons .last-link .count {
    font-size: .8rem;
    color: #ccc;
}

.navbar-icons .last-link:hover .transfer-icon {
    color: #fff;
}


/* ------------------------------------------------- Home Container Section --------------------------------- */

.home-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
}

/* For Side Icons */

.side-icons {
    width: 80px;
    height: 650px;
    background: #fff;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 2px 4px 25px rgba(0,0,0,.05);
}

.side-icons .main-icon {
    padding-bottom: 100px;
    border-bottom: 2px solid #eee;
}

.side-icons .side-foot-icon {
    margin-top: 100px;
}

.side-icons .main-icon .side-link,
.side-icons .side-foot-icon .side-link {
    display: block;
}

.side-icons .side-link {
    font-size: 1.2rem;
    padding: 3px 8px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #000;
    transition: .2s linear;
}

.side-icons .side-link:hover {
    background: #fff;
    color: rgba(0, 0, 255,.6);
    box-shadow: 2px 4px 25px rgba(0,0,0,.1);
}

/* heart Icon */
.side-icons .heart-icon,
.side-icons .envelope-icon,
.side-icons .new-icon {
    position: relative;
}

.side-icons .heart-icon::after {
    content: "+6";
    width: 20px;
    height: 15px;
    background: rgba(204, 204, 204,.3);
    position: absolute;
    top: -5px;
    font-size: .7rem;
    text-align: center;
    line-height: 15px;
    border-radius: 5px;
}

.side-icons .envelope-icon::after {
    content: "1";
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    top: -5px;
    right: 1px;
    font-size: .7rem;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    color: #fff;
}

.side-icons .new-icon::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    position: absolute;
    right: 5px;
}

/* logout icon */
.side-icons .side-link .logout-icon {
    transform: rotate(90deg);
}

/* Post Section */

.post-container {
    width: calc(100% - 80px);
    margin-left: 40px;
}

/* post heading */
.post-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    display: flex;
    align-items: center;
}

.heading .result {
    font-size: .9rem;
    margin-left: 5px;
    color: #ccc;
}

/* home links */

.home-link {
    display: flex;
    align-items: center;
}

.home-link .box-link {
    background: #fff;
    margin-right: 20px;
    padding: 8px 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.home-link .box-link .home-icon {
    color: #ccc;
    margin-right: 5px;
}

.home-link .box-link .link-content {
    font-size: .9rem;
    color: #000;
    font-weight: 600;
    margin-right: 5px;
}

.home-link .box-link .arrow-down {
    margin-left: 20px;
    font-size: 1.2rem;
    color: #ccc;
}

/* ----------------- Post Section ------------------------- */

.wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.wrapper-box {
    width: 380px;
    background: #fff;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 1px 5px 30px rgba(0,0,0,.05);
}

.wrapper-box .image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.wrapper-box .image .image-overlay {
    position: absolute;
    top: 10px;
    left: -100px;
    background: rgba(255,255,255,.7);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    transition: .3s linear;
}

.wrapper-box .image .image-overlay .image-heart-icon {
    color: red;
}

.wrapper-box:hover .image-overlay {
    left: 20px;
}

.wrapper-box .image img {
    width: 100%;
    object-fit: cover;
}

.wrapper-box .content h3 {
    font-size: .9rem;
    padding: 8px 10px 0 8px;
}

.wrapper-box .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.loaction {
    font-size: .8rem;
    color: #ccc;
}

.wrapper-box .name .price {
    display: flex;
    align-items: center;
}

.wrapper-box .name .price h3 {
    font-size: 1.1rem;
}

.wrapper-box .name .price .total {
    font-size: .8rem;
    color: #ccc;
}